﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model PaginatedList<BlogDE.Models.Post>
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div align="right">

            <a class="btn" style="color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71" href="Post/Create">Tạo Blog mới</a>

        </div>
        @foreach (var item in Model)
        {
            <div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="~/assets/images/blog/blog-post-thumb-1.jpg" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="@Url.Action("DetailView","Home",new {@item.Id })">@item.Title</a></h3>
                        <div class="meta mb-1"><span class="date">@item.AddedDate</span></div>
                        <div class="intro">@item.ShortDescription</div>
                        <a class="more-link" href="@Url.Action("DetailView","Home",new {@item.Id })">Read more &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
        }


        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index" style="color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index" style="color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>

    </div>
</section>